body {
    font-family: monospace;
}

ul {
    font-family: monospace;
}
li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  .light-theme {
    color: #FFFFFF;
    background: #028281;
  }